[Unit]
Description=cannonSmtp
After=network.target

#log with journalctl -u cannonSmtp.service
[Service]
ExecStart=/usr/local/bin/node /home/pi/cannonSmtp/index.js 
WorkingDirectory=/home/pi/cannonSmtp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Group=netdev

[Install]
WantedBy=multi-user.target
